<div class="flex flex-col space-y-10 w-full">
  <zap-date-picker
    #datePicker
    id="some"
    label="Date picker"
    [formControl]="datePickerControl"
    helpText="Select your date of birth"
    [dropdown]="false"
    shape="curve"
    (onChange)="onChange($event)"
    [disableWeekends]="true"
    [disableDates]="disableDates"
    [disableRanges]="disableRanges"
  ></zap-date-picker>
  <zap-date-picker
    id="some"
    label="Date picker"
    [formControl]="datePickerControl2"
    helpText="Select your date of birth"
    shape="curve"
  ></zap-date-picker>
  <zap-date-picker
    label="Range date picker"
    [range]="true"
    [breakpoints]="breakpoints"
    [formControl]="datePickerControl3"
    [dropdown]="false"
    shape="curve"
  >
  </zap-date-picker>
  <zap-date-picker
    label="Range date picker"
    [range]="true"
    [formControl]="datePickerControl4"
    [breakpoints]="breakpoints2"
    shape="curve"
  >
  </zap-date-picker>
</div>
